
body{
    background: linear-gradient(to right,#FBD3E9, #BB377D);
    padding: 10px;
}
.menu-section{
    width: 100%;
}

.menu-container{
    width: 33%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 6px 6px #BB377D;
}
.menu-info-container{
    display: flex;
    justify-content: space-between;
}
.menu-category{
    font-weight: bold;
    font-size: 20px;
}
.menu-id{
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    color: gray;
}

.menu-name{
    font-size: 40px;
}
.menu-description{
    font-style: italic;
}
.menu-imgage{}
.menu-image img{
    width: 100%;
    height: 100%;
}