
body{
    background: linear-gradient(to right,#FBD3E9, #BB377D);
    padding: 10px;
}
.menu-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-container{
    margin: 10px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 6px 6px purple;
}
.menu-info-container{
    display: flex;
    justify-content: space-between;
}
.menu-category{
    font-weight: bold;
    font-size: 20px;
}
.menu-id{
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    color: gray;
}

.menu-name{
    font-size: 40px;
}
.menu-description{
    font-style: italic;
}
.menu-imgage{}
.menu-image img{
    width: 100%;
    height: 100%;
}

.menu-btn{
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color: #BB377D;
    color: white;
    border-radius: 10px;
}
.menu-btn:hover{
    color: #BB377D;
    background-color: white;
    border: 5px solid #BB377D;
    font-weight: bold;
}
/* Nav buttons */

.nav-btn-container{
    text-align: center;
}
.nav-btn{
    width: 100px;
    height: 50px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.nav-btn:hover{
    border-top: 5px solid purple;
}